
<h1><%= @sub_category.title %>
  <%= link_to 'Изменить', edit_sub_category_path(@sub_category) %>
  <p>|</p>
  <%= link_to 'Удалить под категорию', sub_category_path(@sub_category), method: :delete, data: {confirm: 'Are you sure?'} %>
</h1> |
<%= link_to "Создать продукт", new_product_path %>
<div class="container-products">
  <% @products.each do  |products|%>
  <div class="col">
        <%= link_to products.title, products %>
  </div>
<% end %>
</div>
