<h1>Creating Categories</h1>
<%= form_for @category do |c| %>
<div class="category">
  <%= c.label :title %>
  <%= c.text_field :title %>
</div>
<div class="category">
  <%= c.label :active %>
  <%= c.check_box :active %>
</div>
<div class="category">
  <%= c.submit "Create Category" %>
</div>
<% end %>
