<!DOCTYPE html>
<html>
  <head>
    <title>TestStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= link_to 'Меню', categories_path %> |
    <%= link_to 'Создать категорию', new_category_path %> |
    <%= link_to 'Регистрация', new_user_path %> |
    <%= link_to 'Все статьи', posts_path %>
    |
    <%= link_to 'Новая статья', new_post_path %>
    <%= yield %>
  </body>
</html>
